body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header,
footer {
    background-color: white;
    color: black;
    padding: 1rem;
    text-align: center;
}

.main-nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.main-nav li {
    padding: 8px;
}

.main-nav a {
    color: #B22744;
    text-decoration: none;
    font-weight: bold;
}

hr {
    border: 0;
    height: 3px;
    background-color: #EFC9A1;
    margin: 20px 0;
}



#book-list {
    padding: 0 2rem;
}

.book {
    max-width: 700px;
    margin: 40px auto;
    padding: 1rem;
}

.book-details {
    text-align: right;
    margin-bottom: 2rem;
}

.book-details p {
    margin: 1rem 0;
    font-weight: bold;
}

.divider {
    display: none;
}

.book-content h2 {
    color: #B22744;
    text-align: center;
    font-size: 2rem;
}

.book-content img {
    display: block;
    width: 200px;
    max-width: 100%;
    margin: 20px auto;
}

.book-content p {
    max-width: 500px;
    margin: 0 auto;
}


@media (min-width: 600px) {

    .book {
        display: grid;
        grid-template-columns: 150px 2px 1fr;
        gap: 2rem;
    }

    .divider {
        display: block;
        background-color: #EFC9A1;
        width: 2px;
    }

    .book-details {
        text-align: right;
        padding-right: 1rem;
    }

}