body {
    background-color: white;
    font-size: 20px;
}

#content { 
    max-width: 1000px;
    margin: 40px auto;
    border: 1px solid darkgrey;
    padding: 50px;
}

.title {
    color: #0A73B9;
    font-size: 1em;
    text-align: center;
    font-family: Garamond;
}

hr {
    height: 1px;
    background-color: #035f9c;
    width: 80%;
}

h1 {
    font-family: Cinzel, serif;
}
h1, h2 {
    text-align: center; /* this centers the text in the h1, h2, and p elements */
}

p {
    font-size: 1em;
    text-align: left;
    font-family: "Times New Roman", serif;
}

#topics {
    width: 55%;
    margin: 0 auto;
    line-height: 1.5em;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.list {

  /* list-style-type: none; */
 

}

#logo {
    display: block;
    margin: 0 auto;
    width: 20%;
}